<template>
  <div class="hello">
    <request-creation></request-creation>
   </div>
</template>

<script>
import RequestCreation from "./sales/RequestCreation.vue";
export default {
  name: 'HelloWorld',
  components: {
    RequestCreation
  },
  props: {
    msg: String
  }
}
</script>
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
