<template>
    <section>
        <b-field label="Plant Name">
            <b-input
                v-model="query.name"
                id="queryName"
                type="text">
            </b-input>
        </b-field>
        <b-field label="Start date">
            <b-datepicker
                placeholder="Click to select..."
                icon="calendar-today"
                v-model="query.startDate"
                type="text"
                id="startDate">
            </b-datepicker>
        </b-field>
        <b-field label="End date">
            <b-datepicker
                placeholder="Click to select..."
                icon="calendar-today"
                v-model="query.endDate"
                type="text"
                id="endDate">
            </b-datepicker>
        </b-field>
        <button 
            class="button is-primary is-outlined"
            v-on:click="submit"
            type="text"
            id="submitQuery">
            Submit
        </button>
    </section>
</template>

<script>
export default {
    name: "CatalogQuery",
    data: function() {
        return {
            query: {
                name: "",
                startDate: undefined,
                endDate: undefined
            }
        }
    },
    methods:{
        submit: function() {
            this.$emit("submitCatalogQuery", this.query)
        }
    }
}
</script>