<template>
    <div> 
        <b-tabs type="is-toggle" expanded v-model="activeTab">
        <b-tab-item label="Query catalog">
            <catalog-query @submitCatalogQuery="handleCatalogQuery">
            </catalog-query>
        </b-tab-item>
        <b-tab-item label="Select plant">
            <query-result :plants="plants" @selectPlant="handlePlantSelection">
            </query-result>
        </b-tab-item>
        <b-tab-item label="Submit request">
            <request-form @submitRequest="handleRequestSubmission">
            </request-form>
        </b-tab-item>          
        <b-tab-item label="Review request">
            <request-data
            :requests="submittedRequests"
            @approvePlantHireRequest="handleRequestApproval"
            @updateRequest="handleRequestUpdate"
            @rejectRequest="handleRequestRejection"
            @approveRequest="handleRequestApproval">
            </request-data>
        </b-tab-item>
    </b-tabs>
    </div>
</template>

<script>
import CatalogQuery from "./CatalogQuery.vue";
import QueryResult from "./QueryResult.vue";
import RequestData from "./RequestData.vue";
import RequestForm from "./RequestForm.vue";

import axios from "axios";
import { isUndefined } from 'util';

export default {
    name: "RequestCreation",
    components: {
        CatalogQuery,
        QueryResult,
        RequestForm,
        RequestData
    },
    data: function() {
        return {
            activeTab: 0,
            plants: [],

            request: {
                entryId: 0,
                entryName: undefined,
                nameOfSiteEngineer: undefined,
                nameOfConstructionSite: undefined,
                rentalPeriod: {}
            },
            submittedRequests: []
        }
    },
    methods:{
        handleCatalogQuery: function(query) {
            if (query.name && query.startDate && query.endDate){
                let params = {
                    name: query.name,
                    startDate: query.startDate.toLocaleDateString("lt-LT",{year:"numeric",month:"2-digit", day:"2-digit"}),
                    endDate: query.endDate.toLocaleDateString("lt-LT",{year:"numeric",month:"2-digit", day:"2-digit"})
                }
                axios.get("http://localhost:8081/api/procurements/plants", {params: params})
                    .then(response => {
                        this.activeTab = 1;
                        this.plants = response.data;
                        this.request.rentalPeriod.startDate = params.startDate;
                        this.request.rentalPeriod.endDate = params.endDate;
                        }
                    )
                    .catch(e => {
                        this.activeTab = 1;
                    });
            }
        },
        handlePlantSelection: function(plant) {
            this.request.entryId = plant.id;
            this.request.entryName = plant.name;
            this.activeTab = 2;
        },
        handleRequestSubmission: function(nameOfSiteEngineer, nameOfConstructionSite) {
            if(nameOfSiteEngineer&&nameOfConstructionSite) {
                let body = {
                    entryId: this.request.entryId,
                    entryName: this.request.entryName,
                    nameOfSiteEngineer: nameOfSiteEngineer,
                    nameOfConstructionSite: nameOfConstructionSite,
                    rentalPeriod:{
                        startDate: this.request.rentalPeriod.startDate,
                        endDate: this.request.rentalPeriod.endDate
                    }
                }
                axios.post("http://localhost:8081/api/procurements/plantHireRequest/create", body)
                .then(response => {
                    this.request.nameOfSiteEngineer = nameOfSiteEngineer;
                    this.request.nameOfConstructionSite = nameOfConstructionSite;
                    this.$snackbar.open("Plant Hire Request submitted. Waiting for confirmation.");
                    this.getSubmittedHireRequestList();
                }).catch(error => {
                    this.$snackbar.open({
                        type: 'is-danger',
                        message: "Something went wrong with plant hire request submition."
                    });
                });
            }
        },
        handleRequestApproval: function(id) {
            if(id) {
                axios.get("http://localhost:8081/api/procurements/plantHireRequest/approve/" + id)
                .then(response => {
                    this.getSubmittedHireRequestList()
                }).catch(error => {
                    this.$snackbar.open({
                        type: 'is-danger',
                        message: "Something went wrong with plant hire request approval."
                    });
                });                
            }
        },
        getSubmittedHireRequestList: function() {
            axios.get("http://localhost:8081/api/procurements/plantHireRequests")
                .then(response => {
                    this.submittedRequests = response.data; 
                }).catch(error => {
                    this.$snackbar.open({
                        type: 'is-danger',
                        message: 'Something went wrong with plant hire request update.'
                    });
                });
        },
        handleRequestUpdate: function(changes) {
            if(changes) {
                let body = {
                    comment: changes.comment,
                    nameOfConstructionSite: changes.constructionSiteName,
                    nameOfSiteEngineer: changes.siteEngineerName
                }   
                axios.patch("http://localhost:8081/api/procurements/plantHireRequest/update/" + changes.id, body)
                .then(response => {
                    this.getSubmittedHireRequestList()
                }).catch(error => {
                    this.$snackbar.open({
                        type: 'is-danger',
                        message: 'Something went wrong with plant hire request update.'
                    });
                });
            }
        },
        handleRequestRejection: function(params) {
            if (params) {
                let body = {
                    comment: params.comment
                }
                axios.patch("http://localhost:8081/api/procurements/plantHireRequest/reject/" + params.id, body)
                .then(response => {
                    this.getSubmittedHireRequestList()
                }).catch(error => {
                    this.$snackbar.open({
                        type: 'is-danger',
                        message: 'Something went wrong with plant hire request rejection.'
                    });
                });
            }
        }
    },
    mounted: function() {
        this.getSubmittedHireRequestList()
    },

}
</script>